<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sac</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="second-sac">
            <h2 class="title title-sac">SAC</h2>
            <div class="social-media">
                <ul class="list-social-media">
                    <li class="item-social-media">  
                            <a href="index.html">
                                <img src="img/avatar.png" alt="Foto de Perfil" class="avatar-sac">
                            </a>
                    </li>                   
                </ul>
            </div>
            <form class="form" action="https://formsubmit.co/welintonpetter13@gmail.com" method="POST">
                <label class="label-input" for="name">
                    <i class="far fa-user icon-modify"></i>
                    <input id="name" type="text" placeholder="Nome">
                </label>
                <label class="label-input" for="email-signup">
                    <i class="far fa-envelope icon-modify"></i>
                    <input id="email-signup" type="email" placeholder="Email">
                </label>
                <label class="label-input" for="text-mensagem">
                    <i class="fas fa-lock icon-modify"></i>
                    <input id="mensagem" type="text" placeholder="mensagem">
                </label>
                <button type="submit" class="btn btn-second" id="signupButton">Enviar</button>        
            </form>
        </div>
    </div>
        
    <main>
        <!-- Your main content here -->
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>
    <script src="js/app.js"></script>
</body>
</html>
